<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-2.5.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-2.5.xsd
                           http://www.springframework.org/schema/aop 
                           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                           "
                      
       default-init-method="init">
 
 	
 	<!-- Morphology -->
 		<bean id="morphologyAnalyzerQueue"	class="dart.blackcat.talker.morph.MorphologyAnalyzerQueue">
 			<qualifier value="morphologyAnalyzerQueue"/>
 			<property name="analyzers">
 				<list>
 					<ref bean="aotMorphologyAnalyzer"/>
 				</list>
 			</property>
 		</bean>
 		
 		<bean id="aotMorphologyAnalyzer"		class="dart.blackcat.talker.aot.AotMorphologyAnalyzer">
 			<property name="aotDao"				ref="aotDBDao"/>
 		</bean>
 		
 		<bean id="aotHeuristicAnalizer"		class="dart.blackcat.talker.aot.AotHeuristicAnalizer">
 			<property name="aotDao"				ref="aotDBDao"/>
 			<property name="morphologyAnalyzer"	ref="aotMorphologyAnalyzer"/>
 		</bean>
 		
 		<bean id="textAnalyzer"					class="dart.blackcat.talker.domain.TextAnalyzer">
 			<property name="morphologyAnalyzer"	ref="morphologyAnalyzerQueue"/>
 		</bean>
 		
 		<bean id="aotDBDao"			class="dart.blackcat.talker.aot.dao.AotDBDao">
 			<property name="dataSource"	ref="dataSource"/>
 		</bean>
 		
 		<!-- <bean id="aotInMemoryDao"	class="dart.blackcat.talker.aot.dao.AotInMemoryDao">
 			<property name="dataSource"	ref="dataSource"/>
			<constructor-arg value="/lemmata.backup"/>
			<constructor-arg value="/flexia.backup"/>
			<constructor-arg value="/ancode.backup"/>
			<constructor-arg value="/lemmata.backup"/>
 		</bean> -->
 	<!-- /Morphology -->
 	
 	
 	
 	<!-- Syntax -->
 		<bean id="aotSyntacticAnalyzer"			class="dart.blackcat.talker.aot.AotSyntacticAnalyzer">
 			<property name="morphologyAnalyzer" ref="morphologyAnalyzerQueue"/>
 		</bean>
 		
 		<bean id="syntacticAnalyzerQueue"	class="dart.blackcat.talker.syntax.SyntacticAnalyzerQueue">
 			<qualifier value="syntacticAnalyzerQueue"/>
 			<property name="analyzers">
 				<list>
 					<ref bean="aotSyntacticAnalyzer"/>
 				</list>
 			</property>
 		</bean>
 	<!-- /Syntax -->
 
   
   
   <!-- Data Source -->
   	<bean id="dataSource"	class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
   		<property name="driverClassName"		value="org.postgresql.Driver"/>
   		<property name="url"						value="jdbc:postgresql://localhost:5432/aot"/>
   		<property name="username"				value="root"/>
   		<property name="password"				value="root"/>
   	</bean>
   <!-- /Data Source -->
   
   <!-- Transaction Management -->
   	<bean id="transactionManager"		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
   		<property name="dataSource"	ref="dataSource"/>
   	</bean>
   <!-- /Transaction Management -->
</beans>