<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

<!-- Maximum log info into console APPENDER -->
	<appender name="CONSOLE-DEBUG" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%5p] %m at %l%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ALL"/>
			<param name="LevelMax" value="INFO"/>
		</filter>
	</appender>
  
	<appender name="CONSOLE-WARN" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.err"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%5p] %m at %l%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN"/>
		</filter>
	</appender> 
<!-- /Maximum log info into console APPENDER -->

<!-- Normal log info into console APPENDER -->
	<appender name="CONSOLE-NORM" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%5p] %m at %l%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG"/>
		</filter>
	</appender>
<!-- /Normal log info into console APPENDER -->

<!-- Common project log APPENDER -->
	<appender name="LOG-FILE-COMMON" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="simple-ai-common.log"/>
		<param name="datePattern" value=".yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%5p] %c %m at %l%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG"/>
		</filter>
	</appender>
<!-- /Common project log APPENDER -->

<!-- Hibernate log APPENDER -->
<!-- 	<appender name="LOG-FILE-HIBERNATE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="rtoys-hibernate.log"/>
      <param name="datePattern" value=".yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%5p] %c %m at %l%n"/>
		</layout>
	</appender> -->
<!-- /Hibernate log APPENDER -->

<!-- SQL log APPENDER -->
<!-- 	<appender name="LOG-FILE-HIBERNATE-SQL" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="rtoys-hibernate-sql.log"/>
      <param name="datePattern" value=".yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%5p] %c %m at %l%n"/>
		</layout>
	</appender> -->
<!-- /SQL log APPENDER -->

<!-- Spring log APPENDER -->
<!-- 	<appender name="LOG-FILE-SPRING" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="rtoys-spring.log"/>
      <param name="datePattern" value=".yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%5p] %c %m at %l%n"/>
		</layout>
	</appender> -->
<!-- /Spring log APPENDER -->

<!-- Error log APPENDER -->
	<appender name="LOG-FILE-ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="simple-ai-error.log"/>
      <param name="datePattern" value=".yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%5p] %c %m at %l%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR"/>
		</filter>
	</appender>
<!-- /Error log APPENDER -->



<!-- SQL log LOGGER -->
<!-- 	<logger name="org.hibernate.SQL" additivity="true">
		<level value="DEBUG"/>
		<appender-ref ref="LOG-FILE-HIBERNATE-SQL"/>
	</logger> -->
<!-- /SQL log LOGGER -->

  
	<root>
		<level value="DEBUG"/>
		<appender-ref ref="CONSOLE-WARN"/>
		<appender-ref ref="CONSOLE-DEBUG"/>
		<appender-ref ref="LOG-FILE-COMMON"/>
		<appender-ref ref="LOG-FILE-ERROR"/>
	</root>
</log4j:configuration>